<!DOCTYPE html>
<html lang="en">
  <%-include("layouts/header");-%>
  <body>
    <header>
      <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">coffee delight</span>
        <span class="site-heading-lower">A Joyful Brew</span>
      </h1>
    </header>
    <!-- Navigation-->
    <%-include("layouts/navbar");-%>
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">User Registration</span>
              </h2>
              <form action="/userregistration" method="POST">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Username</label>
                    <input
                      type="text"
                      placeholder="Username"
                      class="form-control"
                      id="regusername"
                      name="regusername" /><span
                      id="spanregusername"
                      class="text-danger"
                      ><%= errors.usernameerror? errors.usernameerror:''
                      %></span
                    >
                  </div>
                </div>
                <br />
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Password</label>
                    <input
                      type="password"
                      placeholder="Password"
                      class="form-control"
                      id="regpassword"
                      name="regpassword" /><span
                      id="spanregpassword"
                      class="text-danger"
                      ><%= errors.passworderror? errors.passworderror:''
                      %></span
                    >
                  </div>
                </div>
                <br />
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Confirm Password</label>
                    <input
                      type="password"
                      placeholder="Confirm Password"
                      class="form-control"
                      id="regconfirmpassword"
                      name="regconfirmpassword" />
                    <span id="regconfirmpassword" class="text-danger"
                      ><%= errors.confirmPassworderror ?
                      errors.confirmPassworderror : '' %></span
                    >
                    <span id="passwordmismatch" class="text-danger"
                      ><%= errors.passwordMismatch ? errors.passwordMismatch :
                      '' %></span
                    >
                  </div>
                </div>
                <br />
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <button type="submit" id="register" class="btn btn-primary">
                      Register
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section about-heading">
      <div class="container">
        <img
          class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
          src="assets/img/register.jpg"
          alt="..." />
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"
                    >Strong Coffee, Strong Roots</span
                  >
                  <span class="section-heading-lower"
                    >Signup to join Our Cafe</span
                  >
                </h2>
                <p>
                  Welcome to our registration page! Signing up is quick and
                  easy. Simply fill out the required information to unlock
                  exclusive perks, promotions, and updates. Join our community
                  today and start enjoying the benefits of being a registered
                  member!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%-include("layouts/footer");-%> <%-include("layouts/scripts");-%>
  </body>
</html>
